.root, .menu-item{
    -fx-background-color: #333333;
}
.button{
    -fx-background-radius: 0;
}
.label{
    -fx-text-fill: #FFFFFF;
}

#cNovoUsr{
    -fx-background-color: #1fa018;
    -fx-text-fill: #FFFFFF;
}

#exUsr{
    -fx-background-color: #c60000;
    -fx-text-fill: #FFFFFF;
}

.confirmButton{
    -fx-background-color: #1fa018;
    -fx-text-fill: #FFFFFF;
}
.cancelButton{
    -fx-background-color: #c60000;
    -fx-text-fill: #FFFFFF;
}
.menu-bar, .choice-box{
    -fx-background-color: linear-gradient(#333333,#555555);  
}
#loginColumn .label, #matriculaColumn .label, #unidadeColumn .label{
    -fx-text-fill: black;
}